[Unit]
Description=FFmpeg Video Streaming Service
After=network.target

[Service]
ExecStart=/usr/bin/ffmpeg -loglevel error -f v4l2 -input_format mjpeg -video_size 640x480 -framerate 30 -i /dev/video0 -c:v libx264 -preset ultrafast -tune zerolatency -pix_fmt yuv420p -b:v 800k -maxrate 800k -bufsize 1600k -f rtp rtp://192.168.2.155:5004
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ffmpeg-stream

[Install]
WantedBy=multi-user.target
